*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body,html {
    width: 100%;
    height: 100%;

}

.mainsection{
    display: flex;
    width: 100%;
    height: 100%;
}

.mainbody{
    width: 80%;
    height: 100%;
}

.sidebar{
    border: 1px solid red;
    width: 20%;
    height: 100%;
    text-align: center;
}
.header{
    border: 1px solid blue;
    width: 100%;
    height: 80px;
    text-align: center;
}

.content{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 150px;
    flex-wrap: wrap;
    text-align: center;
}

.content1{
    border: 1px solid rgb(0, 51, 255);
    height: 100px;
    width: 30%;
}
.content2{
    border: 1px solid rgb(179, 255, 0);
    height: 100px;
    width: 30%;
}
.content3{
    border: 1px solid rgb(0, 174, 255);
    height: 100px;
    width: 30%;
}
.content4{
    border: 1px solid rgb(255, 102, 0);
    height: 100px;
    width: 30%;
    margin-top: 30px;
}
.content5{
    border: 1px solid rgb(64, 0, 255);
    height: 100px;
    width: 30%;
    margin-top: 30px;
}
.content6{
    border: 1px solid rgb(255, 0, 0);
    height: 100px;
    width: 30%;
    margin-top: 30px;
}
.footer{
    border: 1px solid blue;
    width: 100%;
    height: 80px;
    margin-top: 175px;
    text-align: center;
}